<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Angel Mares">

    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Directorio de Jornada 122</title>
</head>

<body style="display: flex;">
    <!-- Sidebar -->
    <nav id="sidebar" class="d-flex flex-column text-white bg-dark" style="min-width: 250px;max-width: 250px;height: 100vh;">
        <div class="p-4">
            <h4>Staff 122</h4>
        </div>
        <hr>
        Conoce a cada miembro de nuestro equipo:
        <ul class="nav flex-column">
            {% for result in results %}
            <li class="nav-item">
                <a class="nav-link" href="#{{result.get('Nombre','')}}">{{result.get('Nombre','')}}</a>
            </li>
            {% endfor %}
        </ul>
        <div class="mt-auto p-4">
            <button class="btn btn-light w-100 d-md-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebar" aria-expanded="false" aria-controls="sidebar">
                Toggle Sidebar
            </button>
        </div>
    </nav>

    <div id="content" >
        <center>
            <h1>Bienvenido, Staff, a la Jornada</h1>
            <img src="https://affinitynumerology.com/images/122-400(20170213).jpg" alt="Jornada 122" width="100px">
        </center>
        {% block content %}
        {% endblock content %}
    </div>
    <footer>
        &copy; 2025 Angel Mares
        <a href="http://wa.me/525578138451"></a> para cualquier aclaración
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>